@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #121214;
    color: #FFFFFF;
    height: 100vh;
    width: 100vw;
}

img {
    margin-top: 150px;
}


section {
    margin-top: 50px;
}

section input {
    border-radius: 10px;
    height: 30px;
    width: 150px;
    color: #FFFFFF;
    background-color: #8a8a8f;
    margin-top: 10px;
    text-align: center;
    border: none;
}

section input::placeholder {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section button {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgb(165, 1, 1);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

section button:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}

section button:active {
    background-color: rgb(165, 1, 1);
}



@media screen and (max-width: 430px) {
    body {
        width: 80%;
        height: auto;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    img {
        display: block;
        width: 350px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 50px auto;
    }

    section input {
        width: 200px;
        height: 50px;
        margin: 10px auto;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    section button {
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin-bottom: 0px;

    }

    .no-scroll {
        overflow: hidden !important;
    }
}